# Variáveis

1. Variável é quando associamos um nome a algum valor. O nome da variável pode ser composto por letras(minúsculas e maiúsculas), números e o caractere underline _

2. Utilize o sinal de = (igual) para associal um valor a uma variável

3. Para exibir uma variável utilize a função print(variavel)

4. Não utilize palavras reservadas para dar nome a uma variável. São elas: *False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield.*

5. Os tipos de variáveis são:
  * int
  * float
  * string
  * boolean
  * list
  * tuple
  * set
  * dictionary

In [1]:
# nomeando variáveis
var = 1
Var = 1
VAR = 1
_var_ = 1

In [2]:
# atribuindo valor a variável e exibindo o valor com o comando print()
a = 1
b = 1.2
c = "nome"
print(a, b, c)

a, b, c = 1, 1.2, "nome"
print(a, b, c)

1 1.2 nome
1 1.2 nome

In [3]:
# variável do tipo inteiro (integer)
var = 1
print(type(var))

<class 'int'>

In [4]:
# variável do tipo decimal (float)
var = 1.2
print(type(var))

<class 'float'>

In [5]:
# variável do tipo texto (string)
var = "1.2"
print(type(var))

<class 'str'>

In [6]:
# variável do tipo boleano (bool)
var = False # True
print(type(var))

<class 'bool'>

In [7]:
# variável do tipo lista (list)
var = ['nome1', 'nome2', 1, 1.2, True]
print(type(var))
print(var)

var[1]="outro nome"
print(var)

var.append(4567)
print(var)

var.remove(1.2)
print(var)

var.pop(3)
print(var)

<class 'list'>
['nome1', 'nome2', 1, 1.2, True]
['nome1', 'outro nome', 1, 1.2, True]
['nome1', 'outro nome', 1, 1.2, True, 4567]
['nome1', 'outro nome', 1, True, 4567]
['nome1', 'outro nome', 1, 4567]

In [8]:
# variável do tipo tupla (tuple)
var = ('nome1', 'nome2', 1, 1.2, True)
print(type(var))
print(var)
var[1]="outro nome" # tuplas são imutáveis
                    # esse comando gerará erro

<class 'tuple'>
('nome1', 'nome2', 1, 1.2, True)

TypeError: ignored

In [9]:
# variável do tipo set (set)
# Sets são desordenados
# Não possuem elementos duplicados, ou seja, cada elemento é único.
# Um set em si pode ser modificado, contudo os elementos contidos dentro dele precisam ser de tipos imutáveis.
var = {'nome1', 'nome1', 1, True, True}
print(type(var))
var.add('outro nome')
print(var)

<class 'set'>
{1, 'outro nome', 'nome1'}

In [10]:
# variável do tipo dicionário (dict)
var = {"nome": "italo", "idade": 46, "endereco": "Pres. Prudente", "Estado": "SP"}
print(type(var))
print(var)

print(var['idade'])

var.update({"nome": "ana", "idade": 43, "endereco": "Pres. Prudente", "Estado": "SP"})
print(var)

print(var['nome'])

var['endereco'] = 'Presidente Prudente'
print(var)

var.pop("Estado")
print(var)

<class 'dict'>
{'nome': 'italo', 'idade': 46, 'endereco': 'Pres. Prudente', 'Estado': 'SP'}
46
{'nome': 'ana', 'idade': 43, 'endereco': 'Pres. Prudente', 'Estado': 'SP'}
ana
{'nome': 'ana', 'idade': 43, 'endereco': 'Presidente Prudente', 'Estado': 'SP'}
{'nome': 'ana', 'idade': 43, 'endereco': 'Presidente Prudente'}

# Operadores

In [11]:
# Adição
a=4
b=2
print(a + b)

6

In [12]:
# Subração
a=4
b=2
print(a - b)

2

In [13]:
# Multiplicação
a=4
b=2
print(a * b)

8

In [14]:
# Divisão
a=4
b=2
print(a / b)

2.0

In [15]:
# Potencialização
a=2
b=5
print(a ** b) # 2*2*2*2*2

32

In [16]:
# Faz a divisão inteira
a=5
b=2
print(a / b) # divisão comum
print(a // b)

2.5
2

In [17]:
# Resto
a=5
b=2
print(a % b)

1

In [18]:
# operandos
a=2
b=5
c=3
calculo1 = a + b * c # 2 + 15
calculo2 = (a + b) * c # 7 * 3
print(calculo1)
print(calculo2)

17
21