# **Dicas de manipulação de strings em python**

**A string** é uma cadeia de caracteres, podendo eles ser do alfabeto, numéricos, especiais entre outros. Exemplos:

*   João da Silva
*   Minha_S3nh4!
*   Um texto qualquer que possui diversas palavras com letras, números, caracteres especiais e muitos outros bla bla bla etc e tal.

O python possui uma classe de string embutida, **str**, com muitos recursos interessantes e que facilitam a vida do programador.

Abaixo seguem algumas das muitas funções de python para formatação e maninpulação de strings.

**Conhecendo a string**

In [1]:
x = 'PYTHON - manipulação Strings'
print(x)

PYTHON - manipulação Strings

In [2]:
# quantidade de caracteres da string x
print(len(x))

28

In [3]:
# o primeiro caracter da string x
print(x[0]) # P

P

In [4]:
# o último caracter da string x
print(x[len(x)-1]) # s

s

In [5]:
# ou imprimir um trecho
print(x[2:6]) # da posição 2 a 5 THON

THON

In [6]:
# varrendo a string posição a posição, até a sexta posição
for i in x[:6]: # e imprimindo na vertical
  print(i)

P
Y
T
H
O
N

In [7]:
print(x[:6]) # na horizontal
# ou
y = x[:6]
print(y)
# ou
z = "Eu programo em " + y
print(z)

PYTHON
PYTHON
Eu programo em PYTHON

**Convertendo outros tipos em string**

In [8]:
y = 150
print(type(y))
# vamos converter esse inteiro (y) em string, utilizando str(value)
y = str(y)
print(type(y))
# e imprimir o segundo caracter desta string
print(y[1])

<class 'int'>
<class 'str'>
5

In [9]:
# convertendo float
y = 33.345 / 2
print(y, type(y))
y = str(y)
print(y, type(y))
print(y[2])

16.6725 <class 'float'>
16.6725 <class 'str'>
.

In [10]:
# convertendo lista
y = [1, 2, 3, 4, 5, 6]
print(y, type(y))
y = str(y)
print(y, type(y))

[1, 2, 3, 4, 5, 6] <class 'list'>
[1, 2, 3, 4, 5, 6] <class 'str'>

In [11]:
# convertendo dicionários
y = {'nome': 'joao', 'idade': 33}
print(y, type(y))

y = str(y)
print(y, type(y))

{'nome': 'joao', 'idade': 33} <class 'dict'>
{'nome': 'joao', 'idade': 33} <class 'str'>

**Formatando a String**

In [12]:
# formatando uma string em maiúsculo, em minúsculo
# e somente o primeiro caracter em maiúsculo
print("MAIÚSCULA: ",x.upper())
print("minúscula: ",x.lower())
print("Primeira maíuscula: ", x.capitalize())

MAIÚSCULA:  PYTHON - MANIPULAÇÃO STRINGS
minúscula:  python - manipulação strings
Primeira maíuscula:  Python - manipulação strings

In [13]:
# deixando as iniciais maiúsculas
print(x.title())

Python - Manipulação Strings

In [14]:
# existe também a função casefold, que transforma em minúsculo
# parece idêntica mas em alguns idiomas, a função lower não funcionará devidamente
print("lower    :", x.lower())
print("casefold : ", x.casefold())

lower    : python - manipulação strings
casefold :  python - manipulação strings

In [15]:
# Veja a diferença na lingua alemã
print("lower:", "außen".lower())
print("casefold", "außen".casefold())

lower: außen
casefold aussen

In [16]:
# invertendo maiúsculas e minúsculas
print("original : ", x)
print("swapecase: ", x.swapcase())

original :  PYTHON - manipulação Strings
swapecase:  python - MANIPULAÇÃO sTRINGS

In [17]:
# adicionando caracteres para completar a qtde de caracteres em uma linha
a = x.ljust(50,'-')
b = x.rjust(50,'-')
print("A: ", a)
print("B: ", b)
print("Qtde de caracteres: ", len(a), len(b))

A:  PYTHON - manipulação Strings----------------------
B:  ----------------------PYTHON - manipulação Strings
Qtde de caracteres:  50 50

In [18]:
# Centralizar uma string em uma quantidade de caracteres
print(x.center(50,"*"))

***********PYTHON - manipulação Strings***********

In [19]:
# Aqui um exemplo de como desenhar um box screen usando as funções ljust e center
print("#".ljust(49,"=")+"#")
print("#"+ x.center(48,"*") + "#")
print("#".ljust(49,"=")+"#")
for i in range(0,8):
  print("#".ljust(49," ")+"#")
print("#".ljust(49,"=")+"#")

#================================================#
#**********PYTHON - manipulação Strings**********#
#================================================#
#                                                #
#                                                #
#                                                #
#                                                #
#                                                #
#                                                #
#                                                #
#                                                #
#================================================#

In [20]:
# Uma outra formatação de string é quando queremos totalizar a quantidade
# de caracteres atribuindo o caracter 0 a esquerda
agua = "3.50"
vinho = "22.50"
print("Água:  ", agua.zfill(5))
print("Vinho: ", vinho.zfill(5))

Água:   03.50
Vinho:  22.50

In [21]:
# agua e vinho, são strings, não são números
# veja abaixo um exemplo com outra string qualquer e preenchendo com 0 a esquerda
print("texto do lado direito".zfill(40))

0000000000000000000texto do lado direito

In [22]:
# Codificar uma string
a = "Texto não codificado"
print(a.encode('utf-8'))

b'Texto n\xc3\xa3o codificado'

In [23]:
print(a.encode('ascii', 'ignore')) # ignorando o encoding
print(a.encode('ascii', 'replace')) # substituindo por ?

b'Texto no codificado'
b'Texto n?o codificado'

**Manipulando a string**

In [24]:
print(x)

PYTHON - manipulação Strings

In [25]:
# uma forma de inserir valores em uma string
a = 'ano'
b = 'complicado'
print('Este {} foi {}'.format(a, b))
# ou também desta forma
print(f'Este {a} foi {b}')

Este ano foi complicado
Este ano foi complicado

In [26]:
# utilizando dicionário para preencher uma string
dicionario = {"a": "Italo", "b": "Marcelo"}
print("Meu nome é {a} {b}".format_map(dicionario))

# ou utilizando uma lista
lista = ['Italo', 'Marcelo']
print(f'Meu nome é {lista[0]} {lista[1]}')

Meu nome é Italo Marcelo
Meu nome é Italo Marcelo

In [27]:
# dividir uma string na primeira ocorrência de um caracter ou string
print(x.partition("-"))
print(x.rpartition("manipulação"))

('PYTHON ', '-', ' manipulação Strings')
('PYTHON - ', 'manipulação', ' Strings')

In [28]:
# dividir uma string em todas as ocorrências de um caracter ou string
# e retorna uma lista
print(x.split(" "))
print(x.rsplit("-"))

['PYTHON', '-', 'manipulação', 'Strings']
['PYTHON ', ' manipulação Strings']

In [29]:
# dividir uma string a partir de ocorrências de um caracter ou string,
# da direita p/ esquerda e retorna uma lista
a = "1: 2: 3: 4: 5:"
print(a.rsplit(":", 2))

['1: 2: 3: 4', ' 5', '']

In [30]:
# splitline retorna uma lista como se fosse um str.split('\n')
texto = "linha 1 do texto\nlinha 2 do texto \nlinha 3 do texto \nlinha 4 do texto"
print(texto)
print(texto.splitlines())
print(texto.split('\n'))

linha 1 do texto
linha 2 do texto
linha 3 do texto
linha 4 do texto
['linha 1 do texto', 'linha 2 do texto ', 'linha 3 do texto ', 'linha 4 do texto']
['linha 1 do texto', 'linha 2 do texto ', 'linha 3 do texto ', 'linha 4 do texto']

In [31]:
# já o comando join faz o contrário do comando split
y = "ABC"
print('-'.join(y))
y = "homem aranha 2"
z = y.split(' ')
print(z)
# agora vamos tranformar o valor de z como o valor de y
z = ' '.join(z)
print(z, y)

A-B-C
['homem', 'aranha', '2']
homem aranha 2 homem aranha 2

In [32]:
# Localizar uma string retornando a posição
a = "Joao da Silva"
print(a.find('da'))

5

In [33]:
# Localizar um caracter na string retornando a quantidade
a = "Joao da Silva"
print(a.count('a'))

3

In [34]:
# utilizando tabuladores de string
a = "eu \testou \taprendendo \tmanipular \tpython"
print(a)
print(a.expandtabs(8)) # com a mesmo espaço de tabulação
print(a.expandtabs(18)) # com espaçamento de 18 caracteres de tabulação

eu 	estou 	aprendendo 	manipular 	python
eu      estou   aprendendo      manipular       python
eu                estou             aprendendo        manipular         python

**Verificações**

Existem diversas funções de string que validam diversas condições, retornando True ou False como resultado. Vejamos algumas delas:

In [35]:
# verifica se a string possui todas as iniciais em maiúsculas
txt = 'Italo Marcelo'
print(txt.istitle()) # retorna True
if txt.istitle(): # se True
  print('As letras iniciais estão em maiúsculas')
else:
  print('As letras iniciais não estão em maiúsculas')

True
As letras iniciais estão em maiúsculas

In [36]:
# verifica se o caracter ou a string está em maiúsculo
print("Italo".isupper())
print("ITALO".isupper())

False
True

In [37]:
# verifica se o caracter ou a string está em minúsculo
print("Italo".islower())
print("ITALO".islower())

False
False

In [38]:
# verifica se o caracter ou a string é toda numérica
"14".isnumeric(), "F14".isnumeric()

(True, False)

In [39]:
# verifica se o caracter ou a string contém somente dígitos
"14".isdigit(), "F14".isdigit()

(True, False)

In [40]:
# verifica se o caracter ou a string contém alfanuméricos
"ano2021".isalnum(), "ano".isnumeric(), "2021".isalnum(), "ano 2021".isdecimal()

(True, False, True, False)

In [41]:
# verifica se a string contém somente letras do alfabeto
"senha".isalpha(), "senha13".isalpha()

(True, False)

In [42]:
# verifica se a string possui caracteres válidos para escrever um código identificador
"meuID".isidentifier(), "meuID_".isidentifier(), "13meuID".isidentifier(), "_13meuID".isidentifier()

(True, True, False, True)

In [43]:
# verifica se o caracter ou string é de espaço em branco
print("  ".isspace())
# ou
for i in "sou eu":
  print(i, i.isspace())

True
s False
o False
u False
  True
e False
u False

In [44]:
# verifica se a string inicia com uma substring qualquer
print(x) # PYTHON - manipulação Strings
print(x.startswith('Python')) # não inicia com Python
print(x.startswith('PYTHON')) # inicia com PYTHON

PYTHON - manipulação Strings
False
True

In [45]:
# verifica se a string termina com uma substring qualquer
print(x) # PYTHON - manipulação Strings
print(x.endswith('strings')) # não termina com strings
print(x.endswith('Strings')) # termina com Strings

PYTHON - manipulação Strings
False
True

In [46]:
senha = "minhaSenha1_"
print(senha.isascii())
senha2 = "minhaçenha1_"
print(senha2.isascii()) # ç não está na tabela ascii

True
False