In [1]:
# data e hora corrente
import datetime

agora = datetime.datetime.now()
print(agora)

2023-07-16 20:37:16.977851

In [2]:
# data corrente
import datetime
data_atual = datetime.date.today()
print(data_atual)

2023-07-16

In [3]:
# criar uma variável do tipo datetime.date [data]
import datetime
data = datetime.date(2023, 7, 16)
print(data), type(data)

2023-07-16

(None, datetime.date)

In [4]:
# outra forma de importar biblioteca
from datetime import date

data = date(2022, 3, 20)
print(data)

2022-03-20

In [5]:
# exibir a data de hoje com a função today e exibir o ano, mes, dia desta data
from datetime import date

hoje = date.today()
print("Hoje", hoje)
data = date.today()

print("Ano atual:", data.year)
print("Mês atual:", data.month)
print("Dia atual:", data.day)

Hoje 2023-07-16
Ano atual: 2023
Mês atual: 7
Dia atual: 16

In [6]:
# criar uma variável do tipo datetime
from datetime import datetime

# datetime(ano, mês, dia)
a = datetime(2023, 7, 16)
print(a)
print(type(a))

# datetime(ano, mês, dia, hora, minuto, segundo, microsegundo)
b = datetime(2023, 7, 16, 12, 30, 30, 100000)
print(b)
print(type(b))

2023-07-16 00:00:00
<class 'datetime.datetime'>
2023-07-16 12:30:30.100000
<class 'datetime.datetime'>

In [7]:
print("Ano =", b.year)
print("Mês =", b.month)
print("Hora =", b.hour)
print("Minuto =", b.minute)
print("Timestamp =", b.timestamp())

Ano = 2023
Mês = 7
Hora = 12
Minuto = 30
Timestamp = 1689510630.1

In [8]:
b.timetuple()

time.struct_time(tm_year=2023, tm_mon=7, tm_mday=16, tm_hour=12, tm_min=30, tm_sec=30, tm_wday=6, tm_yday=197, tm_isdst=-1)

In [9]:
from datetime import datetime
agora = datetime.now()
agora_hora = agora.time()
print(agora)
print(agora_hora)

2023-07-16 20:37:17.676674
20:37:17.676674

In [10]:
import time
t=time.localtime()
horario = time.strftime("%H:%M:%S", t)
print(horario)

20:37:17

In [11]:
import time
t=time.localtime()
hora = time.strftime("%H", t)
print(hora)

20

In [12]:
from datetime import time

a = time(12, 30, 0)

print("Hora =", a.hour)
print("Minuto =", a.minute)
print("Segundo =", a.second)
print("Microssegundo =", a.microsecond)

Hora = 12
Minuto = 30
Segundo = 0
Microssegundo = 0

In [13]:
from datetime import time

# time(hora=0, minuto=0, segundo=0)
a = time()
print("a =", a)

# time(hora, minuto e segundo)
b = time(20, 30, 0)
print("b =", b)

# time(hora, minuto e segundo)
c = time(hour=21, minute=31, second=11)
print("c =", c)

# time(hora, minuto, segundo e microsegundo)
d = time(21, 31, 1, 123640)
print("d =", d)

a = 00:00:00
b = 20:30:00
c = 21:31:11
d = 21:31:01.123640

In [14]:
from datetime import *  # import datetime
from dateutil.relativedelta import * # from dateutil import relativedelta
agora = datetime.now()
print("Agora", agora)

futuro = agora + relativedelta(months=2, weeks=0, hour=0)
passado = agora - relativedelta(months=2, weeks=0, hour=0)

print("Daquia 2 meses", futuro)
print("A 2 meses atras", passado)

Agora 2023-07-16 20:37:17.754187
Daquia 2 meses 2023-09-16 00:37:17.754187
A 2 meses atras 2023-05-16 00:37:17.754187

In [15]:
from datetime import datetime, timedelta

hoje = datetime.today()
passado = hoje - timedelta(days=2, hours=0, minutes=0, seconds=0)
print(passado)

2023-07-14 20:37:17.770957